<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Simple LSTM Weibo Text Classification</a>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
        </ul>
    </div>

</div>
</nav>
