<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>Simple LSTM Weibo Text Classification</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
<style>
    body {
      padding-top:50px;
    }
    textarea {
      resize: none;
    }
</style>
